{
  "presets": ["@babel/preset-env"],
  "env": {
    "production": {
      "presets": [
        "@babel/preset-env",
        {
          "useBuiltIns": "usage"
        },
        "minify"]
    }
  }
}
