.privacywire {
  position: fixed;
  bottom: -250%;
  left: 0;
  right: 0;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3);
  opacity: 0;
  background: #fff;
  z-index: 1;
  padding: 1rem;
  transition: bottom .3s ease-in, opacity .3s ease;
}

.privacywire-header {
  font-weight: 700;
}

.show-banner .privacywire-banner,
.show-options .privacywire-options,
.show-message .privacywire-message {
  bottom: 0;
  opacity: 1;
}

[data-ask-consent-rendered="1"], div.privacywire-ask-consent-blueprint, .privacywire button[hidden] {
  display: none;
}
